* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0, auto;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

body, main {
    background: #eff3f9;
}

html, body, button, input {
	font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a {
	color: inherit;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}